absl-py==2.2.2
actionlib==1.14.0
angles==1.9.13
antlr4-python3-runtime==4.9.3
argcomplete==3.2.3
asttokens==3.0.0
attrs==23.2.0
backcall==0.2.0
base_local_planner==1.17.3
blinker==1.8.2
bondpy==1.8.6
cachetools==5.5.2
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.7
coloredlogs==15.0.1
common-interfaces==0.1.2
ConfigArgParse==1.7
contourpy==1.1.1
controller-manager==0.20.0
controller-manager-msgs==0.20.0
crc==7.1.0
cv-bridge==1.16.2
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
ddynamic_reconfigure_python==0.0.1
decorator==5.2.1
-e git+https://github.com/levan92/deep_sort_realtime.git@1fe0ae9052a6cb1edb3e88e573722598130dc635#egg=deep_sort_realtime
deepsort==0.0.5
defusedxml==0.7.1
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
dynamic-reconfigure==1.7.3
dynamixel_sdk==3.8.0
easydict==1.11
exceptiongroup==1.2.0
executing==2.2.0
fastjsonschema==2.20.0
filelock==3.16.1
flake8-blind-except==0.2.1
flake8-builtins==2.4.0
flake8-class-newline==1.6.0
flake8-comprehensions==3.14.0
flake8-deprecated==2.2.1
flake8-docstrings==1.7.0
flake8-import-order==0.18.2
flake8-quotes==3.4.0
Flask==3.0.3
flatbuffers==23.5.26
fonttools==4.57.0
fsspec==2025.3.0
gazebo_plugins==2.9.3
gazebo_ros==2.9.3
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
geodesy==0.5.6
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.39.0
google-auth-oauthlib==1.0.0
grpcio==1.70.0
humanfriendly==10.0
hydra-core==1.3.2
idna==3.10
image-geometry==1.16.2
importlib_metadata==8.0.0
importlib_resources==6.4.5
iniconfig==2.0.0
interactive-markers==1.12.0
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
kiwisolver==1.4.7
lap==0.4.0
laser_geometry==1.6.7
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.4
matplotlib-inline==0.1.7
mbf_abstract_nav==0.4.0
mdurl==0.1.2
message-filters==1.17.0
modern-robotics==1.1.1
moveit-commander==1.1.16
moveit-core==1.1.16
moveit-ros-planning-interface==1.1.16
moveit-ros-visualization==1.1.16
mpmath==1.3.0
msgpack==1.1.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
nmea_navsat_driver==0.6.1
numpy==1.24.4
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime-gpu @ file:///home/ysc/onnxruntime_gpu-1.15.1-cp38-cp38-linux_aarch64.whl#sha256=35e2901976527cc588c8e195d01da864114df8de4112e2a5be1e2cafff904379
onnxsim==0.4.33
open3d==0.18.0
opencv-contrib-python==4.11.0.86
packaging==25.0
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
pgi==0.0.11.2
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
plotly==5.22.0
pluggy==1.4.0
prompt_toolkit==3.0.51
protobuf==5.29.4
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyds @ file:///home/ysc/Documents/lib/pyds-1.1.8-py3-none-linux_aarch64.whl#sha256=54f53b584fd668b62f86c6183c942e3e9ade5619465517864bb8180ae46bddae
Pygments==2.17.2
pymycobot==3.9.7
pyparsing==3.1.4
pytest==8.1.1
pytest-repeat==0.9.3
pytest-rerunfailures==14.0
python-can==4.5.0
python-dateutil==2.9.0.post0
python-qt-binding==0.4.4
pytz==2023.3.post1
PyYAML==6.0.2
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
redis==3.5.3
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
resource_retriever==1.12.8
retrying==1.3.4
rich==13.7.0
rosapi==0.11.17
rosbag==1.17.0
rosboost-cfg==1.15.8
rosbridge-library==0.11.17
rosbridge-server==0.11.17
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.17.0
roslaunch==1.17.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.17.0
rosmake==1.15.8
rosmaster==1.17.0
rosmsg==1.17.0
rosnode==1.17.0
rosparam==1.17.0
rospy==1.17.0
rosservice==1.17.0
rostest==1.17.0
rostopic==1.17.0
rosunit==1.15.8
roswtf==1.17.0
rpds-py==0.19.0
rq==1.16.2
rqt-console==0.4.12
rqt-image-view==0.4.17
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-tf-tree==0.6.4
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_launch==0.4.9
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_publisher==0.4.10
rqt_py_common==0.5.3
rqt_py_console==0.4.10
rqt_robot_steering==0.5.12
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rsa==4.9.1
rviz==1.14.25
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.13.1
sensor-msgs==1.13.1
six==1.17.0
smach==2.5.3
smach-ros==2.5.3
smclib==1.8.6
smmap==5.0.2
srdfdom==0.6.4
stack-data==0.6.3
supervision==0.17.1
sympy==1.13.3
tenacity==8.5.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tomli==2.0.1
topic-tools==1.17.0
torch @ file:///home/ysc/yolo-pano/cache/torch-1.13.0%2Bnv22.10-cp38-cp38-linux_aarch64.whl#sha256=eb84a9723294dd470448866042a17f082c477861880aa557e52ae26f50c3ca47
torchvision==0.14.1a0+5e8e2f1
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.13.2
tzdata==2023.4
ultralytics==8.2.34
ultralytics-thop==2.0.14
unique_id==1.0.6
urdfdom-py==0.4.6
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.0.3
xacro==1.14.20
zipp==3.20.2
